<?xml version="1.0"?>
<configuration>
    <system.web>
        <pages theme="NexusCore" styleSheetTheme=""></pages>
        <httpRuntime requestValidationMode="2.0" />
        <!--<sessionState cookieless="AutoDetect" mode="InProc" stateConnectionString="tcpip=loopback:42424" stateNetworkTimeout="15" timeout="15" />-->
    </system.web>
</configuration>
