
/*-- Nexus Core CSS Document */

/*--  nexusCore_editor Layout ------------------------------------------------------------------------------------*/  

.nexusCore_Editor
{
     position: absolute;
     top: 80px; /* Change with Height of #nexusCore_nextusCore_header */
     bottom: 0;
     width: 100%;
     overflow: hidden ; 
     border: 1px #000 solid;
     float: left; 
}

/* 1.  nexusCore_editor Main panel */
.nexusCore_Editor_MainPanel
{
		width: auto;
		/*background-color:#ccc;		
		border:1px solid #000;
		padding:15px 20px;*/
		margin: 10px 10px 10px 270px;		
		float: left; 
		}

/* 2.  nexusCore_editor Tool panel */
.nexusCore_Editor_ToolPanel{	/* Styling the help panel */		
	background-color:#7bd3c3;	/* Blue background color */
	color:#FFF;	/* White text color */
	font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif; /* Which font to use */
	/* You shouldn't change these 5 options unless you need to */
	height: 230px;	
	left:0px;
	z-index:10;
    position: fixed;	
    height:100%;

}

.nexusCore_Editor_ToolPanel .sidebar_top { border:1px #333 solid; height:70%;}
.nexusCore_Editor_ToolPanel .sidebar_bot { border:1px #333 solid; height:30%;}



/*----------- Others --------------------------------------------------------------------------*/

/* 1. Designer Zone */  
.nexusCore_Control_General { width: 100%; min-width: 50px; border:1px solid #000;}	
.nexusCore_Control_General .title{ width:auto; float: left; border:1px solid #000;}
.nexusCore_Control_General .window_buttons{width:auto; float: right; border:1px solid #000;}
.nexusCore_Control_General .window_buttons ul {
	display: inline;
	margin: 0;
	list-style: none;
}
.nexusCore_Control_General .window_buttons li {
	background-color: #FAFAFA;
	color: #CCC;
	float: left;
	margin-left:10px;
}
.nexusCore_Control_General .window_buttons li a {
	color: #777;
	margin-right: 0px;
}
.nexusCore_Control_General .window_buttons li a:hover {color: #012;}
.nexusCore_Control_General .content{min-width:350px; clear: both; border:1px solid #000;}