<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Control_Navigation_Lib.Properties.Settings.e2cmsConnectionString"
            connectionString="server=localhost;User Id=root;password=windsong1;Persist Security Info=True;database=e2cms"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>